<div class="col-md-12 mb-5">
  <div class="card card-plain">

    <p class="card-category"></p>

    <div class="mb-5">
      <div class="card-body">
        <mat-form-field>
          <mat-label class="mb-3" style="text-align: center;">Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Nhập vào" #input>
        </mat-form-field>
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef style="width: 2%;"> STT </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ i + 1 }}
              </td>

            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Email</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Họ tên</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.hoTen}} </td>
            </ng-container>
            <ng-container matColumnDef="ma">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">Mã NV</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.maNV}} </td>
            </ng-container>
            <ng-container matColumnDef="diaChi">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Số điện thoại</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> 0{{element.sdt}} </td>
            </ng-container>
            <ng-container matColumnDef="chiNhanh">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Chi Nhánh</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.chinhNhanh}} </td>
            </ng-container>
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Role</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.role}} </td>
            </ng-container>
            <ng-container matColumnDef="trangThai">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Trạng thái</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;"> <ng-container
                  *ngIf="element.trangThai; else inactiveContent">
                  Hoạt động
                </ng-container>
                <ng-template #inactiveContent>

                  Khóa
                </ng-template>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: 10%;">

              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openEditForm(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="thaoTac">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: 10%;"> Thao tác
                </th>
                <td mat-cell *matCellDef="let row; let i = index" class="cell-button" style="  text-align: center;">
                  <div style="display: flex;">
  
                    <ul matTooltip="xem thông tin" href="javascript:void(0)" (click)="openEditForm(row)">
                      <i class='fa fa-eye' style="font-size:24px ;color:#000080"></i>
                  </ul>
                    <ul matTooltip="Xóa" href="javascript:void(0)" (click)="deleteDilag(row.id)">
                        <i class='fa fa-trash' style="font-size:24px ;color:#000080"></i>
                    </ul>
                </div>
                </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell font-semibold" *ngIf="!dataSource || dataSource; else emptyResult" colspan="12"
                style="text-align: center;font-weight: bold">
                Không tìm thấy kết quả phù hợp với từ khóa
              </td>
              <ng-template #emptyResult>
                <td class="mat-cell" colspan="12">
                  Không tìm thấy kết quả phù hợp với từ khóa !
                </td>
              </ng-template>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons [pageSize]="pageSize"
            [length]="totalItems" (page)=" onChangePage($event)"></mat-paginator>
        </div>
      </div>
      <!-- </div> -->
    </div>

  </div>
</div>