<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Phiếu nhập</p>
                      <h3 class="card-title">{{pn}} 
                          <small>phiếu</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Kho</p>
                      <h3 class="card-title">{{kho}} Kho</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Phiếu xuất</p>
                      <h3 class="card-title">{{px}} Phiếu</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-suitcase"></i>
                      </div>
                      <p class="card-category">Vật tư</p>
                      <h3 class="card-title">{{vt}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Thống kê xuất  theo ngày</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Tỉ Lệ nhập</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Thống kê kho theo 10 ngày gần nhất</h4>
                      <p class="card-category">Số lượng nhập</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 8 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">CChi Nhánh Hà Nội</h4>
                    <p class="card-category">updated 8 minutes ago</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Năm 2023
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Phiếu nhập, xuất</h4>
                      <p class="card-category">Thống kê vật tư, đơn giá nhập xuất</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>STT</th>
                              <th>Tên vật tư</th>
                              <th>Số lượng nhập</th>
                              <th>Số lượng Xuất</th>
                              <th>Tổng Đơn giá nhập</th>
                              <th>Tổng đơn giá xuất</th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of nhapXuatList;let i = index">
                                  <td>1</td>
                                  <td>{{ i + 1 }}</td>
                                  <td>{{item.soLuongNhap}}</td>
                                  <td>{{item.soLuongXuat}}</td>
                                  <td>{{ formatCurrency(item.donGiaNhap)}}</td>
                                  <td>{{ formatCurrency(item.donGiaXuat)}}</td>
                              </tr>
                            
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
